@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    font-family: Lexend Deca;
    background-color: #111111;
    position: fixed;
    width: 100%;
}

header .label_menu, .check{
    display: none;
}

.logo{
    fill: rgb(197, 26, 38);
    margin: 10px;
    width: 50px;
}

header>nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(197, 26, 38);
    padding: 10px 10px;
    display: block;
}

header nav ul ul a{
    background-color: #1e1e1e;
    color: white;
}

header nav li{
    border-collapse: collapse;
}

header nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 0;
}

header nav ul li{
    width: 140px;
    text-align: center;
}

header nav ul li{
    position: relative;
}

header nav ul ul{
    position: absolute;
}

header nav ul ul ul{
    top: 0;
    left: 140px;
}

header nav ul ul{
    display: none;
}

header nav ul li:hover>ul{
    display: flex;
}

header nav ul li:hover a{
    background-color: #1e1e1e;
}

header nav ul ul li:hover>a{
    background-color: #555555;
}

/* FOOTER */
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    background-color: #1e1e1e;
    font-family: Lexend Deca;
}

footer section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px;
}

footer p{
    color: white;
}

footer .logo{
    margin: 20px;
}

footer .icono{
    width: 30px;
    fill: #555555;
    margin: 10px 20px;
}

footer .copy{
    width: 20px;
    fill: rgb(197, 26, 38);
    padding-top: 5px;
    margin: 5px;
}

@media screen and (max-width: 720px){
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 650px){
    header nav{
        display: none;
    }

    header .label_menu{
        display: block;
        cursor: pointer;
    }

    header .label_menu img{
        width: 40px;
        filter: invert(1);
    }

    header .check:checked + nav{
        display: flex;
        position: fixed;
        top: 80px;
        left: 0px;
        background-color:#111111;
        width: 100%;
        justify-content: center;
        padding: 30px 0px;
    }

    header nav>ul{
        flex-direction: column;
    }

    header nav ul ul, header nav ul ul{
        position: static;
    }

    header nav ul li:hover a{
        background-color:#1e1e1e;
    }

    header nav ul ul li:hover a{
        background-color:#555555;
    }
}
